name: github-actions-demo
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # This action installs the node software package on the runner
      - uses: actions/setup-node@v2
      - run: npm install bats
      - run: bats -v
